## Environment variables for WS to HTTP Gateway ##

# URL of the target HTTP server to which the gateway will forward requests
TARGET_URL=

# API key for authenticating push requests from the backend to the clients through the gateway
BACKEND_API_KEY=

# Port on which the gateway will listen for incoming WebSocket connections 
# [Default: 6473]
GATEWAY_PORT=6473