## Environment variables for WS to HTTP Gateway ##

# URL of the target HTTP server to which the gateway will forward requests
TARGET_URL=

# API key for authenticating push requests from the backend to the clients through the gateway
PUSH_API_KEY=

# Port on which the gateway will listen for incoming WebSocket connections 
# [Default: 8080]
GATEWAY_PORT=8080

# Maximum idle time (in milliseconds) for WebSocket connections before they are closed by the gateway
# [Default: 300000 (5 minutes)]
MAX_IDLE_MILLIS=300000